<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= gravatar_link(@user) %>
    <br>
  <%= @user.first_name %>
  <br>
  <%= @user.last_name %>
  <br>
  <%= @user.email %>
  <br>
  <%= @user.hometown %>
  <br>
  <%= @user.hobbies %>
  <br>
  <%= @user.pair_qualities %>
  <br>
  rating <%= @user.programmer_rating %>
  <br>
    preferred <%= @user.preferred_matches %>
  <br>
  <div class="row">
    <a href='/matches' role="button" class="btn btn-primary">Return to my matches</a>
  </div>
</div>
</div>
