<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= gravatar_link(@user) %>

    <p>
      <%= @user.first_name %>
    </p>
  <br>
  <%= @user.last_name %>
  <br>
  <%= @user.email %>
  <br>
  <%= @user.hometown %>
  <br>
  <%= @user.hobbies %>
  <br>
  <%= @user.pair_qualities %>
  <br>
<<<<<<< HEAD
  <p>Programmer Rating: <%= @user.programmer_rating %></p>
  <p>Preferred Match: <%= @user.preferred_matches %></p>
=======
  rating <%= @user.programmer_rating %>
  <br>
    preferred <%= @user.preferred_matches %>
>>>>>>> f9291ef208963b65a36d918f598f19455b12e5e1
  <br>
  <div class="row">
    <a href='/matches' role="button" class="btn btn-primary">Return to my matches</a>
  </div>
</div>
</div>
