<h1 class="page-header"><%= @user.first_name %>'s matches:</h1>

<div class="row">
  <div class="col-md-3 matches">
    <% if @users.length().>(1) %>
      <% @users.each() do |user2| %>
        <% if @user.match(user2) == "great match" && @user != user2 %>
          <a href="/users/<%= @user.id() %>/matches/<%= user2.id %>"><%= user2.first_name() %> <%= user2.last_name() %></a>
          <br>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

  <div class="col-md-9">
    <% if @selected_user %>
      <img src="http://www.lorempixel.com/300/300/people">

      <p><%= @selected_user.first_name %></p>

      <p><%= @selected_user.last_name %></p>

      <p><%= @selected_user.email %></p>

      <p><%= @selected_user.hometown %></p>

      <p><%= @selected_user.hobbies %></p>

      <p><%= @selected_user.pair_qualities %></p>



    <% end %>
  </div>

  <% if @user.preferred_matches == "" %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="lead text-center no-matches">Oh no! We couldn't find any matches.</p>

        <p class="lead text-center">Try being more broad with partner 'target skill levels' and try again.</p>
      </div>
    </div>
  <% end %>
