<h1 class="page-header"><%= @user.first_name %>'s matches:</h1>

<div class="row">
  <div class="col-md-3 matches">
    <% if @users.length().>(1) %>
      <% @users.each() do |user2| %>
        <% if @user.preferred_match(user2) == 3 && user2.preferred_match(@user) == 3 && @user != user2 %>
          <a href="/users/<%= @user.id() %>/matches/<%= user2.id %>"><%= user2.first_name() %> <%= user2.last_name() %></a>
          <br>
        <% end %>
      <% end %>
    <% else %>

    <p class="lead text-center no-matches">Oh no! We couldn't find any matches.</p>

    <p class="lead text-center">Try being more broad with your target partner skill levels and try again.</p>

    <% end %>
  </div>


  <div class="col-md-9">
    <% if @match %>
      <%= gravatar_link(@match) %>

      <p><%= @match.first_name %></p>

      <p><%= @match.last_name %></p>

      <p><%= @match.email %></p>

      <p><%= @match.hometown %></p>

      <p><%= @match.hobbies %></p>

      <p><%= @match.pair_qualities %></p>

      <!-- <p>Programmer Rating: <%= @match.programmer_rating %></p> -->

      <!-- <p>Preferred Match: <%= @match.preferred_matches %></p> -->

    <% end %>
  </div>
</div>
