
<div class="text-center">
<h1>Find your <img src="/images/pear.jpg" style="width:64px;height:64px"></h1>
<p>Click on your name to update your profile.</p>
<p>Click on your matches to find your best pair matches.</p>
<p>Don't see your name on the list? <a href="./signup">Sign up here.</a></p>
</div>
<br>
<% if @users.any? %>
  <% @users.each() do |user| %>
  <div class="container-fluid">
    <div class="row">
    <!-- <div class="col-sm-3"> -->
    <div class="col-sm-3"><img src="http://www.lorempixel.com/200/200/people">
      <br>
      <a href="/users/<%= user.id() %>"><b><%= user.first_name() %>&#160;<%= user.last_name() %></b></a>
      <br>
      <br>
      <a href="/users/<%= user.id %>/matches" role="button" class="btn btn-primary">Matches for <%= user.first_name %></a>
      <br>
      <br>

</div>
  <% end %>
</div>
<% else %>
  <h3>No users have been added to Epic Pairs yet.</h3>
<% end %>

<p class="text-center">First time here? <a href="./signup">Sign up!</a></p>
