
<div class="text-center">
<h1>Find your <img src="/images/pear.jpg" style="width:64px;height:64px"></h1>
<p>Click on your name to update your profile.</p>
<p>Click on your matches to find your best pair matches.</p>
<p>Don't see your name on the list? <a href="./signup">Sign up here.</a></p>
</div>
<br>
<% if @users.any? %>
  <% @users.each() do |user| %>
  <div class="container-fluid user-grid">
    <div class="row">
    <!-- <div class="col-sm-3"> -->
    <div class="col-xs-6 col-sm-3">
      <div class="gravatar-wrapper grow">
        <img src="http://www.lorempixel.com/200/200/<%= random_image %>">
      <h4 class="first-last">
        <a href="/users/<%= user.id() %>">
          <%= "#{user.first_name} #{user.last_name}" %>
      </h4>

        <h4 class="first">
          <a href="/users/<%= user.id() %>">
              <%= "#{user.first_name}" %>
        </h4>
        </a>
        <a href="/users/<%= user.id %>/matches" role="button" class="matches-link">Matches<span class="match_link_secondary"> for <%= user.first_name %></span></a>
    </div>
</div>
  <% end %>
</div>
<% else %>
  <hr>
  <h3 class="text-center lead">No users have been added to Epic Pairs yet.</h3>
  <hr>
<% end %>
